body {
    background-color: #ECEEF1;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.header {
    float:right;
    margin-bottom: 20px;
    width: 300px;
}
.account {
    color: #505050;
    font-weight: 400;
    font-size: 12px;
} 
.account p {
    margin: 0;
}
.center {
    clear: both;
    margin:0 auto;
    width: 380px;
}
.form {
    background-color: white;
    border: 1px #C7C7C7 solid;
    border-radius: 2px;
    /*padding: 30px;*/
}
.form * {
    border-radius: 2px;
    box-sizing: border-box;
}
div.form {
    box-sizing: border-box;
}
.form p, .logo {
    text-align: center;
}
.icons {
    cursor: pointer;
    text-align: center;
}
ul {
    height: 23px;
    overflow: hidden;
    padding-left: 0;
    position: relative;
    width: 362px;
}
li { 
    color: #757575;
    display: inline;
    font-weight: 300;
    font-size: 18px;
    height: 24px;
    line-height: 3px;
    letter-spacing: 1px;
    position: absolute;
}
img.logo {
    /*background: url(../images/logos.png) 0px 0px;*/
    display: inline-block; 
    height: 35px;
    width: 118px; 
}
li.mint-icon{
    background: url(../images/logos.png) -253px -56px;
    display: inline-block;
    left: 32px;
    position: absolute;
    width: 24px;
}
li.mint{
    left:64px;
    position: absolute;
    top:10px;
}
li.qbooks-icon{
    background: url(../images/logos.png) -113px -56px;
    display: inline-block;
    left: 106px;
    position: absolute;
    width: 24px;
}
li.qbooks{
    left: 136px;
    position: absolute;
    top: 10px;
}
li.turbo-icon{
    background: url(../images/logos.png) 0px -56px;
    display: inline-block;
    left: 242px;
    position: absolute;
    width: 24px;
}
li.turbo{
    left: 270px;
    position: absolute;
    top:10px;
}
fieldset {
    border: none;
    margin: 0 0 20px 0;
    padding: 0;
}
label {
    margin-bottom: 10px;
}
div.form-title{    
    color: #4C4C4C;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
}
p.more {
    color: #4C4C4C;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
}
.form-title a {
    color: #0077C5;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
}
label {
    color: #404040;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.widetype {
    font-weight: 200;
}
.small {  
    color: #444;
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    padding: 5px 0;
} 
input {
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    color: #000;
    display: block; 
    height: 34px;
    font-size: 1.2em;
    line-height: 34px\9;
    margin: 5px 0 0 0;
    outline: none;
    width: 320px;
}
.inputs {
    padding: 20px 30px 0 30px;
}
.inputs button, .header button  {
    background-color: #0077C5;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
    color: #fff;
    cursor: pointer;
    font-weight: 100;
    margin-bottom: 0;
    text-align: center;
}
.inputs button {
    font-size: 18px;
    height: 44px;
    margin-bottom: 0;
    padding: 6px 12px;
    width: 100%;
}
.header button {
    font-size: 14px;
    height: 34px;
    margin-bottom: 0;
    padding: 0px 20px;
    width: auto;
}
div.account {
    float: left;
    margin-right: 10px;
}
.account p {
    clear: both;
    display: inline-block;
    margin-bottom: 5px;
}
.button {
    float: left;
}
.lock {
    background: url(../images/lock.png);
}
.inputs span.lock {
    background: url(../images/lock.png) 0 0 no-repeat;
    background-size: 12px 15px;
    display: inline-block;
    height: 15.75px;
    width: 12.75px;
}
.header span {
    background: url(../images/lock.png) 0 0;
    background-size: 10px 13px;
    display: inline-block;
    height: 13.5px;
    width: 10.8px;
 }
 div.lock-right {
     position: relative;
 }   
.lock-right img {
    position: absolute;
    right: 10px;
    top: 6px
}
.terms {
    color: #757575;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.8;
    padding: 20px 30px 0 30px;
}
.captcha {
    background-color: #ECEEF1;
    color: #8D9096;
    font-size: 10px;
    padding: 20px;
    text-align: center;
}
.captcha a, .terms a, .account a {
    color: #0077C5;
    text-decoration: none;
}
.footer{
    color: #505050;
    font-weight: 400;
    font-size: 12px;
    line-height: 0.6;
    margin:0 auto;
    margin-top: 30px;
    text-align: center;
    width: 800px;
    
}
.footer a {
    color: #505050;
    padding: 0 5px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.header button {
    background-color: #0077C5;
    border: 1px solid #4C4C4C;
    border-radius: 4px;  
    color: white;
    cursor: pointer;
    font-weight: normal; 
    padding: 0 20px;
    height: 34px;
}